@import './base.css';

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent; 
}
   
.scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}